@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "Página de Fornecedores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary bi bi-plus-circle" asp-action="Create"> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a asp-action="ActivateDeactivate" asp-route-id="@item.Id" class="btn btn-clean btn-sm fw-bold @(item.Active ? "text-success" : "text-danger")">
                    @(item.Active ? "Ativo" : "Inativo")</a>
            </td>
            <td>
                <a class="btn btn-primary m-1 bi bi-search" asp-action="Details" asp-route-id="@item.Id"/>
                <a class="btn btn-warning m-1 bi bi-pencil" asp-action="Edit" asp-route-id="@item.Id"/>
                <a class="btn btn-danger m-1 bi bi-trash" asp-action="Delete" asp-route-id="@item.Id"/>
            </td>
        </tr>
}
    </tbody>
</table>
