@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "Página de Fornecedores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary bi bi-plus-circle" asp-action="Create"> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPLEMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIP_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NEIGHBORHOOD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESS_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPLEMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIP_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NEIGHBORHOOD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATE)
            </td>
            <td>
                    <a asp-action="ActivateDeactivate" asp-route-id="@item.ID" class="btn btn-clean btn-sm fw-bold @(item.STATUS ? "text-success" : "text-danger")">
                    @(item.STATUS ? "Ativo" : "Inativo")</a>
            </td>
            <td>
                <a class="btn btn-primary m-1 bi bi-search" asp-action="Details" asp-route-id="@item.ID"/>
                <a class="btn btn-warning m-1 bi bi-pencil" asp-action="Edit" asp-route-id="@item.ID"/>
                <a class="btn btn-danger m-1 bi bi-trash" asp-action="Delete" asp-route-id="@item.ID"/>
            </td>
        </tr>
}
    </tbody>
</table>
