@model Product

@{
    ViewData["Title"] = "Remover Produto";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que quer remover o produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMAGE_URI)
        </dt>
        <dd class = "col-sm-10">
            <img class="" src="/images/@Model.IMAGE_URI" style="height: 100%; width: 30%" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREATE_REGISTER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREATE_REGISTER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>
        <dd class="col-sm-10 fw-bold @(Model.STATUS ? "text-success" : "text-danger")">
            @(Model.STATUS ? "Ativo" : "Inativo")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUPPLIER.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUPPLIER.NAME)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a class="btn btn-primary m-3" asp-action="Index">Voltar</a>
    </form>
</div>
