@model Product

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMAGE_URI)
        </dt>
        <dd class = "col-sm-10">
            <img class="" src="/images/@Model.IMAGE_URI" style="height: 100%; width: 50%" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRICE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STOCK_QTD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.STOCK_QTD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SOLD_QTD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SOLD_QTD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREATE_REGISTER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREATE_REGISTER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>
        <dd class="col-sm-10 fw-bold @(Model.STATUS ? "text-success" : "text-danger")">
            @(Model.STATUS ? "Ativo" : "Inativo")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUPPLIER.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUPPLIER.NAME)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary m-3" asp-action="Index">Voltar</a>
</div>
