@model IEnumerable<Product>

@{
    ViewData["Title"] = "Página de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary bi bi-plus-circle" asp-action="Create"> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUPPLIER.NAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="/images/@item.IMAGE_URI" style="height: 100%; width: 100%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                <a asp-action="ActivateDeactivate" asp-route-id="@item.ID" class="btn btn-clean btn-sm fw-bold @(item.STATUS ? "text-success" : "text-danger")">
                    @(item.STATUS ? "Ativo" : "Inativo")</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPPLIER.NAME)
            </td>
            <td>
                <a class="btn btn-primary m-1 bi bi-search" asp-action="Details" asp-route-id="@item.ID"/>
                <a class="btn btn-warning m-1 bi bi-pencil" asp-action="Edit" asp-route-id="@item.ID"/>
                <a class="btn btn-danger m-1 bi bi-trash" asp-action="Delete" asp-route-id="@item.ID"/>
            </td>
        </tr>
}
    </tbody>
</table>
